<!DOCTYPE html>
<html>
<head>
    {{#each meta}}
        {{{this.metaTag}}}
    {{/each}}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{pageName}} - {{author}}</title>
    {{#each styles}}
        <link rel="stylesheet" href="{{this.url}}">
    {{/each}}
</head>
<body class="{{pageName}}">
<div class="navigation">
    <ul>
        <li><img alt="{{author}} Logo" src=""></li>
        {{#each pages}}
            <li>
                <a class="{{this.options.pageName}} navi-item nav-item-{{@key}}" href="{{this.route}}">
                    {{this.options.pageName}}
                </a>
            </li>
        {{/each}}
    </ul>
</div>

{{{body}}}
<button class="scrollToTopBtn"><i class="fas fa-chevron-up"></i></button>
<footer>
    <div class="container-md">
        <div class="row">
            <div class="col-lg-4">
                <ul>
                    <li style="margin-bottom: 0"><h1>Joel Ruiz Cabrera</h1></li>
                    <li><p>Web Developer, Shopware 6, UI/UX</p></li>
                    <li><img width="50%" alt="{{author}} Logo" src="/assets/img/shopware6-certified-template-designer.png"></li>
                    <br>
                    <li>Joel Schwegmann<br>Petrusallee 16<br>49090 Osnabrück</li>
                </ul>
            </div>
            <div class="col-lg-4">
                <ul>
                    <li><h1>Social Media</h1></li>
                    {{#each social}}
                        <li>
                            <a href="{{this.link}}">
                                <i class="{{this.icon}}"></i> {{this.name}}
                            </a>
                        </li>
                    {{/each}}
                </ul>
            </div>
            <div class="col-lg-4">
                <ul>
                    <li><h1>Law</h1></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
{{#each scripts}}
    <script src="{{this.url}}"></script>
{{/each}}
</body>
</html>