<div class="header">
    <div class="header-headline">
        <h1 class="wow animate__animated animate__fadeIn">{{author}}</h1>
        <h3 class="wow animate__animated animate__fadeIn anim-del-3">Web Developer, Shopware 6, UI/UX</h3>
        <p class="wow animate__animated animate__fadeIn anim-del-6">{{{pageDescription}}}</p>
    </div>
    <div id="experience">
        <canvas id="lines"></canvas>
    </div>
</div>
<div class="sec-1">
    <div class="section-content">
        <h1 class="wow animate__animated animate__fadeInLeft">My Work</h1>
        <div class="section-line"></div>
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                {{#each work}}
                    <div class="carousel-item slider-item-{{@key}}">
                        <img src="{{this.slider}}" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>{{this.title}}</h5>
                            <h5>{{this.desc}}</h5>
                            <br>
                            <a href="/work/{{this.url}}">
                                <button class="btn btn-primary">Go To Page</button>
                            </a>
                        </div>
                    </div>
                {{/each}}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
<div class="sec-2">
    <div class="section-content">
        <div class="section-decoration-x x-3 white right wow anim-del-3"></div>
        <h1 class="wow animate__animated animate__fadeInLeft">Social Media</h1>
        <div class="section-line"></div>
        <div class="row align-items-center justify-content-around">
            {{#each social}}
                <div class="col-lg-4 col-md-6">
                    <div class="social-media-item wow animate__animated animate__fadeInUp anim-del-{{@key}}">
                        <a href="{{this.link}}" target="_blank">
                            <h2><i class="{{this.icon}}"></i></h2>
                            <p><span>{{this.username}}</span></p>
                        </a>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>

<div class="sec-3">
    <div class="section-content">
        <p>
            It´s better to wait for a productive programmer to become available than
            <br>
            it is to wait for the first available programmer to become productive.
            <br>
            -
            <br>
            <span>Steve McConnell</span>
        </p>
    </div>
</div>

<div class="sec-4">
    <div class="section-content">
        <div class="section-decoration-x x-2 white right wow anim-del-3"></div>
        <h1 class="wow animate__animated animate__fadeInLeft">Skills</h1>
        <div class="section-line"></div>
        <div class="row align-items-center justify-content-around">
            <div class="col-lg-4 col-md-6">
                <div class="wow animate__animated animate__fadeInUp anim-del-0">
                    <div class="skills-heading">
                        <h2><i class="fab fa-shopware"></i></h2>
                        <h3>Shopware 6</h3>
                    </div>
                    <p>As a Shopware 6 Certified Template Designer I deal with the<br>development of new and modern stores on a daily basis.</p>
                    <a href="https://www.shopware.com" target="_blank">
                        <button class="btn btn-primary">Get in touch</button>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="wow animate__animated animate__fadeInUp anim-del-1">
                    <div class="skills-heading">
                        <h2><i class="fab fa-vuejs"></i></h2>
                        <h3>VueJS</h3>
                    </div>
                    <p>Working with VueJS in web development is completely<br>normal nowadays. Therefore I deal with this framework.</p>
                    <a href="https://vuejs.org" target="_blank">
                        <button class="btn btn-primary">Get in touch</button>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="wow animate__animated animate__fadeInUp anim-del-2">
                    <div class="skills-heading">
                        <h2><i class="fab fa-node"></i></h2>
                        <h3>NodeJS</h3>
                    </div>
                    <p>NodeJS is known for its flexibility and reliability.<br>Fun Fact, this page is written in NodeJS</p>
                    <a href="https://nodejs.org" target="_blank">
                        <button class="btn btn-primary">Get in touch</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="sec-5">
    <div class="section-content">
        <h2>Do you want to know something <span>about me</span>?</h2>
        <a href="/about">
            <button class="btn btn-primary">Have a look</button>
        </a>
    </div>
</div>