
<div class="work-content container-fluid">
    <h1>
        {{title}}
    </h1>
    <h3>{{{desc}}}</h3>
    <hr>
    {{#each fields}}
        {{#if this.img}}
            <div class="work-content-img">
                <img src="{{this.img}}">
            </div>
        {{/if}}
        {{#if this.text}}
            <div class="work-content-text">
                <p>{{{this.text}}}</p>
            </div>
        {{/if}}
        {{#if this.video}}
            <div class="work-content-video">
                <video src="{{this.video}}"></video>
            </div>
        {{/if}}
    {{/each}}
</div>